spring:
  application:
    name: rest-with-spring-boot-and-java
  
  datasource:
    url: jdbc:mysql://localhost:3306/${MYSQL_DATABASE:rest_with_spring_boot}?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=America/Sao_Paulo&allowPublicKeyRetrieval=true
    username: ${MYSQL_USER:app_user}
    password: ${MYSQL_PASSWORD:minha_senha}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      minimum-idle: 5
      maximum-pool-size: 20
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      auto-commit: true
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        connection:
          provider_disables_autocommit: false
  logging:
    level:
      root: INFO
      engjao89.rest_with_spring_boot_and_java: DEBUG
      engjao89.rest_with_spring_boot_and_java.service: DEBUG
      engjao89.rest_with_spring_boot_and_java.controllers: DEBUG
      org.springframework.web: INFO
      org.hibernate: INFO
      org.hibernate.SQL: DEBUG
      org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    pattern:
      console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
      file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"